name: CMake build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-project:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      
      - name: Install Protobuf
        run: sudo apt-get install protobuf-compiler

      - name: Configure and Build Project
        uses: threeal/cmake-action@main

  build-and-run-example:
    name: Build and Run Example
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Build and run example
        run: |
          mkdir -p build-example && cd build-example
          cmake ../examples/simple
          cmake --build .
          ./simple
